.document{
    background-color: cadetblue;
}

.navlists{
    margin: 0 auto;
}

.navlists li{
    list-style: none;
    display: flex;
    flex-direction: column;
    display: inline-block;
    background-color: burlywood;
}

.navlists li:hover{
    text-decoration: underline;
}