.document{
    background-color: white;
}

.nav-bar{
    padding: 1% 2% 2% 20%;
    word-spacing: 4em;
    background-color: burlywood;
}

.navlists li{
    list-style: none;
    display: flex;
    flex-direction: column;
    display: inline-block;
    background-color: chocolate;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

li{
    width: 6em;
    text-align: center;
}
.navlists li:hover{
    text-decoration: underline;
    background-color:rgb(185, 136, 101);
}

.col-md-4{
    display: flex;
    flex-direction: column;
    display: inline-block;
    width: 30%;
    height: 30%;
    background-color:chocolate;
    text-align: center;
    margin-bottom: 2em;
}

.row{
padding-left: 20px;
}

.div-text{
margin-top: 20%;
text-transform: uppercase;
}

.btn{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(143, 232, 235);
    font-weight: 400;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.btn:hover{
    text-decoration: underline;
    background-color: aqua;
}

.practice_header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer{
    background-color: burlywood;
    margin-top: 8px;
}

.footer-links > li > a{
    text-decoration: none;
    background-color:chocolate;
    width: auto;
    border-radius: 4px;
}

.footer-links > li > a:hover{
    text-decoration: underline;
    background-color:rgb(185, 136, 101);
}


.footer-links > li{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    width: 30em;
    margin: 0 auto;
    justify-content: space-between;
}


/*Media Queries*/

@media only screen and (max-width: 1024px) {

    .nav-bar{
        padding: 1% 2% 2% 0.5%;
        word-spacing: 4em;
    }

    .navlists li{
        list-style: none;
        display: flex;
        flex-direction: column;
        display: inline-block;
        background-color: chocolate;
        font-size: 16px;
        font-weight: 650;
        width: 100%;
        color: white;
    }

    .div-text{
        margin-top: 5em;
        color: white;
        }

    .btn{
        background-color: rgb(143, 232, 235);
        color: white;
        width: 20em;
        margin-left: 20%;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
    }

    .footer-links{
        background-color: burlywood;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .footer-links > li > a{
        text-decoration: none;
        background-color:chocolate;
        width: auto;
        border-radius: 4px;
        justify-content: center;
    }

    .footer-links > li{
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
}