.document{
    background-color: cadetblue;
}

.nav-bar{
    padding: 10px 30px 30px 25%;
    word-spacing: 4em;
}

.navlists li{
    list-style: none;
    display: flex;
    flex-direction: column;
    display: inline-block;
    background-color: burlywood;
}

.navlists li:hover{
    text-decoration: underline;
}